In [2]:
a = 10.1
b = 20
name = "atif jamal khan"
city = "lucknow"

# operators
- arithmetic
- assignment
- comparison
- logical
- membership
- identity

In [11]:
# + - * / % // **
x = 10
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x // y)
print(x ** y)

13
7
30
3.3333333333333335
1
3
1000

In [ ]:
# = += -= *= /= //= **=
a = 10
b = a + 20
c =

In [12]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a )

False
True
False
True
10.1

In [19]:
print(a > b and a < b)
print(a > b or a < b)
print(a > 2 and a > b)

False
True
False

In [24]:
name = "alexis "
print("h" in name)
print("a" in name)
print("A" in name)
print("x" in name)
nums = [10, 20, 30, 40,]
print(10 in nums)

False
True
False
True
True

In [26]:
# is (itentity operators)
x = 10
y = 10
print(x is y)
nums = [10, 20, 30,]
nums2 = nums.copy

True