sets is use for duplicate values

creat 
methods
- sets operations
- union
- intersection
- issubsets
- issupersets

In [1]:
x = {2,3,4,4,2,3,5,6,5,6}
print(x)

{2, 3, 4, 5, 6}

In [2]:
y= {1,2,3,4,5}
z = {1,2,3,4,5,5,6,6,7,7,8,9,9,}
print(y)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
a = set("hello")
print(a)

{'l', 'e', 'h', 'o'}

In [4]:
b = set([1,2,3,4,5,6,7,8,8,77,5,2,])
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 77}

In [5]:
c = set(range(11)) #for  any valid range
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
data = set() #to add data ina set
data.add(12)
data.add(17)
data.add(2)
data.add(9)
data.add(3)
print(data)

{2, 3, 9, 12, 17}

In [7]:
#to remove data from set
#1st method
data.pop()

2

In [8]:
print(data)

{3, 9, 12, 17}

In [9]:
#2nd method
data.discard(17)

In [10]:
print(data)

{3, 9, 12}

In [11]:
data.clear() #clear all data
print(data)

set()